KURO_APP_ROLE=krc
KURO_APP_PROFILE=krc
KURO_KRC_SHELL_ENABLED=true
PORT=8443

KURO_KRC_RESEARCH_CONSOLE_ENABLED=true
KURO_KRC_INGESTION_ENABLED=true
KURO_KRC_EXPORT_ENABLED=true
KURO_KRC_KNOWLEDGE_PUBLISH_ENABLED=true

KURO_KRC_QA_PLAYGROUND_ENABLED=false
KURO_KRC_QA_PRODUCTIZATION_ENABLED=false
KURO_KRC_MARKET_ENABLED=false
KURO_KRC_TELEGRAM_CENTER_ENABLED=false
KURO_KRC_AGENT_TOOLS_ENABLED=false
KURO_KRC_DAILY_TASKS_ENABLED=false
KURO_KRC_PROACTIVE_EVENTS_ENABLED=false
KURO_KRC_LEGACY_CHAT_VISIBLE=false

KURO_FORCE_PERSONA=phd_advisor
KURO_KRC_PERSONA_LOCKED=true
KURO_KNOWLEDGE_GATEWAY_URL=http://127.0.0.1:8088
