KURO_APP_ROLE=kcc
PORT=8444

KURO_KCC_SHELL_ENABLED=true
KURO_KCC_MARKET_ENABLED=true
KURO_KCC_TELEGRAM_ENABLED=true
KURO_KCC_INGESTION_ADMIN_ENABLED=true
KURO_KCC_PROVIDER_HEALTH_ENABLED=true
KURO_KCC_BACKUP_ENABLED=true
KURO_KCC_OBSERVABILITY_ENABLED=true
KURO_KNOWLEDGE_GATEWAY_URL=http://127.0.0.1:8550
